{{extend "layout.html"}}
<div id='home'>

{{try:}}
<h2 align='center'>{{=title}}</h2>
{{except:}}{{pass}}
{{=XML(item)}}
<div id='menu_box_center'>
<img src='/eden/static/img/temp/de.jpg' style='position:relative; left:160px;' />
<div id='user_story' style='text-align:justify'>
There always was the eight horcrux. It was never over. You-know-who is back and alongwith his death eaters, is wrecking havoc in Hogwarts. Order of Pheonix has been summoned, to guard the fortress and provide cover. They need to bid time and save the students as Harry is off to destroy the last horcrux.
However, learning from the war time chaos in the past, the order of pheonix, has realized that an efficient roster mechanism is needed at such times. For this they tried and searched for resources, and discovered that they could use Sahana Eden for this. They sent an owl, and got an local system running Sahana Eden installed.
Currently though, them being computer illiterate, are looking for your help to work with the roster tool. You could help them out to fill the roster <a href='/eden/roster/index'>here</a>. If it does work out well, you might be awarded a few thousand galleons, and perhaps even a magic wand.
</div>
<!-- {{try:}}
{{=sit_dec_res_box}}
{{except:}}{{pass}}
{{=facility_box}} 
{{if AUTHENTICATED not in session.s3.roles:}}
 <div id='login_box' class='menu_box'>
  {{if not self_registration or registered:}}
    <div id='login_form'>
    {{=login_div}}
    {{include "auth/_login.html"}}
   </div>
  {{pass}}
  {{if self_registration:}}
   <div id='register_form' {{if registered:}}class='hide'{{pass}}>
    {{=register_div}}
    {{include "auth/_register.html"}}
   </div>
  {{pass}}
  {{if self_registration and not registered:}}
   <div id='login_form' class='hide'>
    {{=login_div}}
    {{include "auth/_login.html"}}
   </div>
  {{pass}}
 </div>
{{pass}}
{{=manage_facility_box}}
{{=org_box}}
</div>
</div>
<div id='about'>
 <p>
 {{=T("For more details on the Sahana Eden system, see the")}} <a href="http://eden.sahanafoundation.org" target="_blank">{{=T("Sahana Eden Website")}}</a>
 <br/>{{=T("For live help from the Sahana community on using this application, go to")}} <a href="http://eden.sahanafoundation.org/wiki/Chat" target="_blank">{{=T("Sahana Community Chat")}}</a>
 </p>
</div>
{{if settings.frontpage.rss:}}
<div id='feed-control'>
 <span style="color:#676767;font-size:11px;margin:10px;padding:4px;">{{=T("Loading")}}...</span>-->
</div>
{{pass}}
{{if org_box:}}
{{include "dataTables.html"}}{{pass}}
