{{extend "layout.html"}}
<link href="/{{=request.application}}/static/styles/S3/roster.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<h1>{{=message}}</h1>
<div class="leftc circle">Create a table for your roster.</div> <br/>
<div class="rightc circle">Add shifts to your table.</div><br/>
<div class="leftc circle">Go to your roster table, and select date and slot.</div><br/>
<div class="rightc circle">Add roles to the table.</div><br/>
<div class="leftc circle">Select the + sign in cell to roster.</div><br/>
<div class="rightc circle">Save.</div><br/>
