{{extend 'layout.html'}}
<head><script type="text/javascript">
    var current_cell={"r":0,
                      "c":0};
jQuery(document).ready(function(){
    $('#newrole').hide();
    $('#r_varea').hide();
    $('.remv').hide();
    $('.addpf').hide();
    $('.rempf').show();
    $('#addrow').click(function()
        {
        $('#newrole').toggle();
        $('#addrow').hide();
        });
    $('#new_job_role').change(function(){$('#roster_info_form').submit();});
    $('#occasion').change(function(){$('#roster_info_form').submit();});
    $('#project_selector').change(function(){$('#roster_info_form').submit();});
    $('#timeframe').change(function(){$('#roster_info_form').submit();});
    $('#timeslot').change(function(){$('#roster_info_form').submit();});
    $('#vn').on('keypress','#volunteer_quick_search',function(event){
    //alert('Going to filter results.');
        $('.volunteer_names').each(function(){
            if($('#volunteer_quick_search').val()=='')
            {
            $(this).show();
            }
            else
            {
                if ($(this).html().toLowerCase().search($('#volunteer_quick_search').val().toLowerCase()) == -1)
                {
                $(this).hide();
                }
                else
                {
                $(this).show();
                }
            }
        });
    });

    $('.addv').click(function()
        {
        $('#r_varea').show();
        var cell=$(this).parent();
        current_cell.r=cell.data('row');
        current_cell.c=cell.data('col');
        //ajax('people',['row'],'vn');
        $.ajax(
            {
            type: "POST",
            url: "people",
            data: { row: current_cell.r }
            }).done(function( msg ) 
                {
                $("#vn").html(msg);
                });

        });
    $('.remrole').click(function()
        {
        var cell=$(this).parent();
        var url="{{=URL('del_role')}}"+"/"+cell.data('pos');
        $(location).attr('href',url);
        });
    $('#vn').on('click','.volunteer_names',function(event)
        {
        var vname=$(this).html();
        var vid=$(this).attr('id');
        $('.vcell').each(function()
            {
            if($(this).data('row')==current_cell.r && $(this).data('col')==current_cell.c)
                {
                var cell_c=vname;
                $(this).children('.vcelln').html(cell_c);
                $(this).children('.addv').hide();
                $(this).children('.remv').show();
                $(this).data("vid",vid);
                $(this).addClass('allotted');
                
                }; 
            });
        });
    $('.remv').click(function(){
    $(this).parent().children('.vcelln').html("");
    $(this).parent().children('.remv').hide();
    $(this).parent().children('.addv').show();
    $(this).parent().removeClass('allotted');
    });
    $('#cross').click(function(){$('#r_varea').hide();});
    $('#save').click(function()
    {
    //var roster_dets=new Array();
    //var roster_dets={};
    var roster_array=new Array();
    var i=0;
    $('.allotted').each(function()
        {
        var v_json= {
                    "row":$(this).data('row'),
                    "col":$(this).data('col'),
                    "vid":$(this).data('vid')
                    };
        roster_array[i]=v_json;
        i=i+1;
        //alert(roster_dets[i-1].vid);
        });
    var roster_dets={"array":roster_array};
    $.ajax(
            {
            type: "POST",
            url: "roster_submit",
            data: roster_dets
            }).done(function( msg ) 
                {
                $("#vn").html(msg);
                });

        
    //alert(roster_dets[0].row);
    });
    
});
</script>
<link href="/{{=request.application}}/static/styles/S3/roster.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
</head>
<body>
<div id="maincontent">
<h1>{{=message}}</h1>
<a href='admin'>Panel </a> | Roster
<span>
<div id="r_varea">
<div id="r_varea_head">Volunteers:</div>
{{=IMG(_src='/eden/static/img/cross.png',_alt='cross',_id='cross')}}
<br/>
<div class='vn' id='vn'>
<form>
<input type='text' id='volunteer_quick_search'>
</form>
{{for v_id in volunteers:}}
<div class="volunteer_names" id={{=v_id}}>{{=volunteers[v_id]}}</div>
{{pass}}
</div>
</div>
</span>
<span style="position:absolute; right:50px;">
<div id="r_tablearea">
<form enctype="multipart/form-data" id="roster_info_form" action="{{=URL('add_role')}}" method="post">
<div id="selectboxes">
    <span>Event:
        <select name='occasion' id='occasion'>
        {{for x in range(len(occasion)):}}<option value={{=x}}>{{=occasion[x]}}</option>{{pass}}
        </select>
    </span>

    <span style="position:relative; left:60px;">
        <select name='project_selector' id='project_selector'>
        {{for x in range(len(projects)):}}<option value={{=x}}>{{=projects[x]}}</option>{{pass}}
        </select>
    </span>

    <span style="position:relative; left:180px;">
        <select name='timeframe' id='timeframe'>
        {{for i in range(numb):}}
            <option value={{=i+1}}>Week {{=i+1}} {{=project_date}} {{project_date=project_date+datetime.timedelta(days=6)}} {{=project_date}}{{project_date=project_date+datetime.timedelta(days=1)}}
            </option>
        {{pass}}
        </select>
    </span>

    <span style="position:relative; left:240px;">
    Slot:
        <select name='timeslot' id='timeslot'>
        {{for x in range(len(slots)):}}<option value={{=x}}>{{=slots[x]}}</option>{{pass}}
        </select>
    </span>
    <span style="position:relative; left:290px;">
    <a href='index/pdf'>{{=IMG(_src='/eden/static/img/silk/printer.png')}}</a>
    </span>
</div>
<br/>
<table id="r_table">
<thead>
<tr><th>Role</th>{{for d in time_dets:}}<th>{{=d}}</th>{{pass}}
</tr></thead>
{{for r in range(len(alloted_roles)):}}
<tr>
    <td>
        <div class='vcell' data-pos={{=r}}>
        {{=alloted_roles[r]}}
            {{=IMG(_src='/eden/static/img/minus.png', _class='symbv remrole')}}
        </div>
    </td>
    {{for c in range(len(time_dets)):}}
    <td>
        {{ is_filled=False}}
        {{ for filled_slot in filled_slots: }}
            {{if r==filled_slot['row'] and c==filled_slot['col']:}}
                <div class='vcell allotted' data-col={{=c}} data-row={{=r}} data-vid={{=filled_slot['vid']}}> 
                    <div class='vcelln'>{{=volunteers[filled_slot['vid']]}} </div> 
                    {{ is_filled=True}}
                    {{=IMG(_src='/eden/static/img/plus.png',_alt='addv',_class='addv symbv addpf')}}
                    {{=IMG(_src='/eden/static/img/minus.png',_alt='remv',_class='remv symbv rempf')}}
                </div>
            {{pass}}
        {{pass}}
        {{ if not is_filled:}}
                <div class='vcell' data-col={{=c}} data-row={{=r}} >
                    <div class='vcelln'></div>
                    {{=IMG(_src='/eden/static/img/plus.png',_alt='addv',_class='addv symbv')}}
                    {{=IMG(_src='/eden/static/img/minus.png',_alt='remv',_class='remv symbv')}}
                </div> 
        {{pass}}

    </td>
    {{pass}}
</tr>
{{pass}}

<tr id='newrole'><td>
<select name="new_job_role" id="new_job_role">
{{for x in range(len(job_roles)):}}<option value={{=x}}>{{=job_roles[x]}}</option>{{pass}}
</select></form></td>
{{for x in range(len(time_dets)):}}<td></td>{{pass}}
</tr>

</table>
{{=IMG(_src='/eden/static/img/plus.png',_alt='addrow',_id='addrow')}}
<br/>
<span> <input type="button" value="Save" id='save'/> </span> <span> <a>Cancel</a> </span> <span> <a>Reset</a> </span> <!--<span> <a>Autofill</a> </span> --> 
</div>
</span>
</div>
</body>
