{{extend "layout.html"}}
<link href="/{{=request.application}}/static/styles/S3/roster.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<h1>{{=message}}</h1>
<div id="maincontent" style="height:400px;">
<div id="info">
This tool aims to provide a roster functionality to people. In a date and job task grid, people can be assigned an individual slot. This table will also be identified by other parameters like time.
<br/>
<br/>
User Guideline: <a href="http://eden.sahanafoundation.org/wiki/UserGuidelinesRostering">Roster Tool User Guideline</a>
</div>
<div id="workflow">
<div class="leftc circle">Create a table for your roster.</div> <br/>
<div class="rightc circle">Add shifts to your table.</div><br/>
<div class="leftc circle">Go to your roster table, and select date and slot.</div><br/>
<div class="rightc circle">Add roles to the table.</div><br/>
<div class="leftc circle">Select the + sign in cell to roster.</div><br/>
<div class="rightc circle">Save.</div><br/>
</div>
</div>
