{{extend 'layout.html'}}
<form enctype="multipart/form-data" id="table_info_form" method="post">
{{=error}}
        Event:
            <select name='event' id='event' >
            {{for x in range(len(event)):}}
                <option value={{=x}}>{{=event[x]}}</option>
            {{pass}}
            </select>

            <select name='project_selector' id='project_selector'>
            {{for x in range(len(projects)):}}
                <option value={{=projects[x][0]}}>{{=projects[x][1]}}</option>
            {{pass}}
            </select>
<!--        Slot:-->
<!--            <select name='slot_selector' id='slot_selector'>-->
<!--            {{for x in range(len(slots)):}}-->
<!--                <option value={{=slots[x]}}>{{=slots[x]}}</option>-->
<!--            {{pass}}-->
<!--            </select>-->
        Start Date (yyyy-mm-dd) :
            <input type="text" name="start_date" id="start_date" />

    <input type="submit" value="Create table">
    <br/>

    {{for row in roster_table:}}
        {{=row["id"]}} {{=row["type"]}} {{=row["start_date"]}} {{=row["roster_event_id"]}} <a href= roster/{{=row["id"]}}>Roster</a> <br/>
    {{pass}}
</form>
