#r_tablearea{
background:#EEEEEE;
border-radius:10px;
width:900px;
padding:20px;
}
#r_table{
width:900px;
padding:0px;
}
table, th, td{
border:1px solid black;
padding:5px;
}
tr:hover{
background:#DCDCDC;
}
thead{
background:#cccccc;
}
#selectarea{
width:900px;
}
#addrow{
position:relative;
left:80px;
}
#r_varea{
width:170px;
background:#EEEEEE;
border-radius:6px;
padding: 15px;
position: fixed;
left:5px;
top:50px;
max-height:480px;
overflow-x: hidden;
overflow-y: auto;
}
#r_varea_head{
position:relative;
left:40px;
font-size:15px;
}
#cross{
position:absolute;
right:5px;
top:10px;
}
#maincontent{
overflow:auto;
height:580px;
}
.vcell{
width:100px;
height:35px;
position:relative;
}
.symbv{
position:absolute;
bottom:0px;
right:0px;
}
.allotted{
background:#2A2;

}
.volunteer_names{
width:140px;
background:#EBEBEB;
height:15px;
border:solid 1px #878787;
padding:10px;
margin:5px;
}
.volunteer_names:hover{
background:#DCDCDC;
}
#volunteer_role{
position:relative;
left:35px;
}
#volunteer_quick_search{
width:140px;
height:18px;
position:relative;
left:13px;
}
#changes{
position:absolute;
width:950px;
top:100px;
left:250px;
}
#changetable{
width:950px;
border:0px;
}
#changetable td{
border:0px;
padding:5px;
}
.index_colour{
width:10px;
height:10px;
}
#change_accepted{
background:#3F6;
}
#change_denied{
background:#F76541;
}
#change_index{
width:250px;
height:20px;
}
